.div-itinerary {
    margin-top: 6em;
}
.img-title-itinerary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-title-itinerary h1 {
    background-color: aliceblue;
    padding: .5em 3em;
    border-radius: 2em;
    font-weight: bolder;
    font-family:Fantasy;
}
.img-itinerary {
    width: 100%;
    height: 600px;
    border-radius: 2em;
}
.card-itinerary {
    margin: auto;
    margin-top: 1em;
    width: auto;
    padding: 3em;
}
.img-p-itinerary {
    margin: auto;
    width: auto;
}
.userImg {
    padding: .2em;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
}
.description-itinerary{
    font-size: 1.5em;
    text-align: center;
}
.cont-img-info {
    display: flex;
}
.card-body img {
 width: 100%;
}
@media only screen and (max-width:476px) {
    .img-itinerary {
        height: 300px;
    }
}