.signup-Conteiner {
	margin-top:6em;
}

.panel-heading {
    padding: 5px 15px;
}
.titleSignUp {
	margin-bottom: 1em;
}
.titleSignUp2 {
	margin-top:1em;
}
.fb {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 2em 0;
}
.fb2 {
	background-color: rgba(250, 250, 250, 0.829);
	padding: 1em;
	border-radius: 2em;
}
.selectCountries {
	font-weight: bold !important;
	padding: 1em 3em !important;
}
.titlefb{
	text-align: center;
	font-size: 1.5em;
	background-color: rgb(241, 241, 255);
	padding: 1em;
	border-radius: 2em;
}
.userProfile {
	margin-right: 9em;
}

.dropdownOptions {
	position: relative;
}

.articleContainer {
	display: flex;
	align-items: center;
}
.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.buttonsocial{
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	display: flex;
	justify-content: left;
	align-items: center;
	border: 0px;
	border-radius: 10px !important;
}
.my-facebook-button-class{
	background-color: rgb(52, 52, 207);
	color:white;
	
}

.buttonsocial :nth-child(1){
	margin-right: 0px !important;
	width: 45px !important;
}