.carousel-container {
    background-color:rgb(243, 243, 243);
    margin-top: 86px;
    width: 100%;
}
.carousel-item {
    height: 42rem;
    background-position: center;
    background-size: cover;
}