
* {
    text-decoration: none;
    list-style-type: none;
}
.dropdown {
    margin-right: 6rem;
}
.carousel-container {
    margin: auto;
    background-color:rgb(243, 243, 243);
    margin-top: 86px;
    width: 80%;
}
.carousel-item {
    height: 42rem;
    background-position: center;
    background-size: cover;
}
